#logo {
    width: 150px;
    height: auto;
}

.frame-card {
    border: 1px solid #01AB7A;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
}

.frame-card h5 {
    color: #01AB7A;
}

.frame-card p {
    margin-bottom: 0.5rem;
    color: #018a5e;
}

#filters {
    background-color: #01AB7A;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
}

#filters input, #filters button {
    margin-top: 10px;
}
