body {
    background-color: #22252B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #33363B;
    padding: 20px;
    text-align: center;
}

header img {
    width: 180px;
}

h1 {
    color: #01AB7A;
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.card, .frame-card {
    background-color: #33363B;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

.frame-card {
    margin-bottom: 10px;
}

h5 {
    color: #01AB7A;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

input {
    width: 100%;
}

button {
    background-color: #01AB7A;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #018a5e;
}

@media (min-width: 768px) {
    h1 {
        font-size: 24px;
    }

    #filters {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap
    }

    input, button {
        margin-bottom: 0;
        flex-grow: 1;
    }
}
.active-frame {
    border: 2px solid #01AB7A; /* Highlight active frames with a border color similar to the header */
    background-color: #394045; /* Slightly lighter than the default frame card for distinction */
}

/* Assuming .frame-card is your card container */
.frame-card {
    position: relative;
    padding: 15px; /* Adjust padding as needed */
    /* Other styling for your card */
}

.edit-btn, .off-btn {
    width: 100%; /* Make buttons full width of the card container */
    margin-bottom: 5px; /* Adds space between the buttons */
}

/* Additional styling for the off button if needed */
.off-btn {
    background-color: #dc3545; /* Bootstrap's btn-danger color */
    color: white;
}
#addPlayersButton {
    background-color: #01AB7A;
    color: #FFFFFF;
    padding: 5px 15px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

#addPlayersButton:hover {
    background-color: #018a5e; /* Darker shade for hover effect */
}

