body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #01AB7A;
    padding: 10px;
    text-align: center;
}

header img {
    width: 150px;
}

header h1 {
    color: #fff;
    margin: 0;
}

#filters {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#filters input, #filters button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#filters button {
    background-color: #01AB7A;
    color: #fff;
    cursor: pointer;
}

.frame-card {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.frame-card h5, .frame-card p {
    margin: 5px 0;
}

.frame-card h5 {
    color: #01AB7A;
}

.frame-card p {
    color: #666;
}
