body {
    font-family: 'Arial', sans-serif;
    background-color: #22252B;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#logo {
    max-width: 100px;
}

#playerName {
    margin: 0;
}

main {
    padding: 20px;
}

#framesInfo h2 {
    color: #01AB7A;
}

.frame-card {
    background-color: #333333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame-card:nth-child(even) {
    background-color: #444444;
}

.frame-date {
    font-size: 0.8rem;
    font-weight: 400;
    color: #bbbbbb;
}
