body {
    font-family: 'Arial', sans-serif;
    background-color: #22252B;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#logo {
    max-width: 100px;
}

#playerName {
    margin: 0;
}

main {
    padding: 20px;
}

#framesInfo h2 {
    color: #01AB7A;
}

.frame-card {
    background-color: #22252B;
    color: #FFFFFF;
    border: 1px solid #01AB7A;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px;
}

.frame-card p {
    margin: 0 0 5px;
    font-size: 14px;
}

.frame-card p:last-child {
    margin-bottom: 0;
}
