body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #01AB7A;
    padding: 10px;
    text-align: center;
}

header img {
    width: 180px;
}

.card {
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}

small {
    display: block;
    margin-top: 5px;
}
