body {
    font-family: Arial, sans-serif;
    background-color: #22252B;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: center;
}

#logo {
    width: 150px;
}

.container {
    margin: 20px auto;
    width: 80%;
}

#playerCard {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

#playerCard h2 {
    margin-bottom: 10px;
}

#framesInfo {
    margin: 20px 0;
}

.frame-card {
    background-color: #3C3E42;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame-card p {
    margin: 5px 0;
}

.frame-card.winner {
    background-color: #01AB7A;
}

.frame-card.loser {
    background-color: #FF4757;
}

.frame-card.rummy {
    background-color: #3C3E42;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}
