body {
    background-color: #22252B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #33363B;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header img {
    width: 180px;
}

h1 {
    color: #01AB7A;
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: 600;
}

#loginButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #01AB7A;
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

#loginButton:hover {
    background-color: #018a5e;
}

main {
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.player-card {
    background-color: #33363B;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.player-card:hover {
    transform: scale(1.02);
}

.player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.player-name {
    flex: 1; /* This ensures that the name takes up as much space as possible */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
}

.play-button {
    margin-left: 10px; /* Add some spacing between the name and the play button */
    margin-right: 10px; /* Add some spacing between the play button and coins */
}

.play-button:hover {
    background-color: #018a5e; /* Darker green on hover */
}

.progress-bar {
    height: 12px;
    background-color: #444;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.progress-bar-inner {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    transition: width 0.3s ease;
    min-width: 10%;
}

.player-winrate {
    display: block;
    font-size: 14px;
    color: #FFEB3B;
}

.champion-icon {
    margin-left: 5px;
    font-size: 1.5em;
}
.banner-section {
    background-color: #01AB7A; /* Example color, adjust as needed */
    padding: 10px 0;
    text-align: center;
}

.banner-text {
    color: white;
    font-size: 18px;
    font-weight: Medium;
    margin: 1;
}
@media (max-width: 768px) {
    .banner-text {
        font-size: 18px;
    }
}

