body {
    background-color: #22252B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #33363B;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 180px;
}

h1 {
    color: #01AB7A;
    margin-top: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

form {
    background-color: #33363B;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="time"], select, .back-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #51575A;
    background-color: #394045;
    color: #FFFFFF;
}

input[type="submit"], .back-button {
    background-color: #01AB7A;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover, .back-button:hover {
    background-color: #018a5e;
}

.back-button {
    background-color: #6c757d; /* Differentiate back button */
}

.back-button:hover {
    background-color: #545b62;
}
