body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #22252B;
    color: #FFFFFF;
}

header {
    background-color: #33363B;
    padding: 20px;
    text-align: center;
}

header img {
    width: 180px;
}

h1 {
    color: #01AB7A;
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 600;
}

.card {
    background-color: #33363B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 500;
}

.form-control, .form-select {
    background-color: #394045;
    border: 1px solid #51575A;
    color: #FFFFFF;
}

.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-warning {
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-success:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.btn-warning:hover {
    background-color: #e68900;
    border-color: #e68900;
}

@media (max-width: 768px) {
    header img {
        width: 150px;
    }

    h1 {
        font-size: 20px;
    }
}
