body {
    background-color: #22252B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}

.header {
    background-color: #33363B;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 100px;
}

.header h1 {
    color: #01AB7A;
    margin: 10px 0;
    font-size: 24px;
}

.form-container {
    background-color: #33363B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    color: #FFFFFF;
    margin-bottom: 5px;
}

input[type="text"], input[type="time"], select, .back-button, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #394045;
    border: 1px solid #51575A;
    color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], .back-button {
    background-color: #01AB7A;
    color: white;
    cursor: pointer;
    border: none;
}

.back-button {
    background-color: #6c757d; /* Differentiate back button */
    width: auto; /* Adjust width as needed */
    padding: 10px 20px; /* Adjust padding to match design */
}

input[type="submit"]:hover {
    background-color: #018a5e;
}

.back-button:hover {
    background-color: #545b62;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.frame-id-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.frame-id-container label {
    margin: 0;
}

.frame-id-container span {
    color: #FFFFFF;
}
